extends ../layouts/default

block main
  h3 Applications
   small &nbsp;Created by the current user

  each application in applications
      .media
        a.pull-left(href="#")
          img.media-object.img-polaroid(data-src="holder.js/100x100/social")
        .media-body
          h4.media-heading
            a(href='/applications/'+application._id, title=application.name) #{application.name}
          ul
            li Created at #{application.createdAt}
        
            li Client ID #{application.clientID}
        
            li Client Secret #{application.clientSecret}
        
            li
              a(href="#", )...
