extends ../layouts/default

block main

  h3 #{application.name}
  
  p
    .media
      a.pull-left(href="#")
        img.media-object.img-polaroid(data-src="holder.js/100x100/social")
      .media-body
        h4.media-heading #{application.name}
        ul
          li Created at #{application.createdAt}
        
          li Client ID #{application.clientID}
        
          li Client Secret #{application.clientSecret}
        
          li
            a(href="#", )...
  
  p
    a.btn.btn-warning(href="/applications/#{application._id}?delete") Delete
    &nbsp;
    a.btn.btn-info(href="/applications/#{application._id}?delete") Edit
  
  p
    h3 Clients
      small
        &nbsp; Using the application
    
    =count